* {
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}

body {
  margin: 40px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  width: 1500px;
  height: auto;
  max-width: 1500px;
}

.extension {
  border-radius: 10px;
  border-style: solid;
  padding: 15px;

  border-width: 5px;
  border-color: dimgray;

  box-shadow: 15px 15px 0px lightgray;

  width: 400px;

  display: block;
  align-items: center;
  justify-content: center;

  margin: 0px 0px 25px 25px;
}

.extension img {
  border-radius: 15px;
  width: 350px;
  margin-top: 25px;
}

.extension h2 {
  font-weight: bolder;
}
.extension p.desc {
  font-weight: bold;
}

.extension-button {
  color: white;
  border-style: none;
  width: 125px;
  height: 50px;
  border-radius: 10px;
  margin: 10px;
  font-weight: bolder;
}
.extension-buttons:hover .extension-button {
  cursor: pointer;
}
.extension-button:hover {
  cursor: pointer;
}
.extension-button[data-copy="code"] {
  background-color: green;
}
.extension-button[data-copy="url"] {
  background-color: red;
}
.extension-button[data-copy="download"] {
  background-color: orange;
}

.extension-button[data-copy="try"] {
  background-color: skyblue;
}

.docsBtn {
  color: black;
  text-decoration: none;
  border-style: solid;
  border-radius: 5px;
  box-shadow: 2.5px 2.5px 0px lightgray;
  padding: 5px;
  border-color: dimgray;
  cursor: pointer;
}

#extensions {
  display: grid;
  grid-template-columns: auto auto auto;
}